node_modules
node_modules.7z
.svn
dev
public
*.DS_Store
.cache
webpack_cache
.webpack_cache
.happypack
npm-debug.log
.idea
.vscode
tempMedia
qci-info
auto_qci_tools/qci_plugin_scripts
auto_qci_tools/node_modules
coverage
junit.xml
dwt-cases.yml
dwt-junit.xml
dwt-reporter.html
dwt-result.json
dwt-tmp-result
.steamer
etc
